body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.stock-ticker {
  width: 215px;
  text-align: center;
  border: 0;
  padding: 15px 10px 0;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: gray;
  background-color: #000000;
  outline: 0;
}

.stock-ticker::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: none;
}

.company-name {
  padding: 0 15px;
}

.stock-price::before {
  content: '$';
}

.stock-yield {
  font-style: italic;
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
}
